@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: anzo1;
    src: url('./assets/fonts/file.ttf');
}

@font-face {
    font-family: anoz2;
    src: url('./assets/fonts/madefor-text.var.original.ttf');
}

@font-face{
    font-family: anzo3;
    src: url('./assets/fonts/file1.ttf');
}
@font-face{
    font-family: anzo4;
    src: url('./assets/fonts/file2.ttf');
}
@font-face{
    font-family: anzo5;
    src: url('./assets/fonts/file3.ttf');
}

#page-1-in{
    perspective: 1000px;
}


#tilttext{
    width: fit-content;
    transform: rotateX(0deg) rotateY(0deg);
}

#ani-text{
    position: relative;
    perspective: 3000px;
}